@font-face {
    font-family: "Prata";
    font-style: normal;
    font-weight: 400;
    src: local("Prata"),
        url("/fonts/Prata-Regular.woff2") format("woff2"),
        url("/fonts/Prata-Regular.woff") format("woff");
}

body {
    background-color: #282829;
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #222;
    border: 0;
    color: #fff;
    transition: background-color 0.2s ease;
}


.element {
    padding-block: 0.5rem;
}

.breaker {
    margin-top: 4rem;
}