@font-face {
    font-family: "Prata";
    font-style: normal;
    font-weight: 400;
    src: local("Prata"),
        url("/fonts/Prata-Regular.woff2") format("woff2"),
        url("/fonts/Prata-Regular.woff") format("woff");
}

body {
    background-color: #282829;
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #222;
    border: 0;
    color: #fff;
    transition: background-color 0.2s ease;
}


.element {
    padding-block: 0.5rem;
}

.breaker {
    margin-top: 4rem;
}

/* HEADER */

.page-header {
    padding-inline: 5%;
    padding-block: 2vh;
    position: sticky;
    top: 0;
    background-color: #222;
    color: #fff;
    align-items: center;
    z-index: 999;
    border-bottom: 0.1rem groove #111;
}

.logo-name {  
    padding: 0.2rem;
    padding-inline: 1rem;
    font-size: clamp(1.5rem, 4vw, 2.25rem);
}

.page-header-nav {
    font-size: clamp(1rem, 4vw, 1.5rem);
    white-space: nowrap;
}

.page-header-nav button {
    font-style: italic;
}

/* MAIN */

.page-main {
    background-color: #222;
    position: relative;
    padding-inline: 5%;
    padding-top: 2vh;
    height: 95vh;
}

.main-info {
    padding-top: 2rem;
}

.main-h1 {
    font-size: 2rem;
    transition: font-size 0.2s ease;
    max-width: 40rem;
}

.main-h2 {
    font-size: 1rem;
    transition: font-size 0.2s ease;
    max-width: 30rem;
}

.feature {
    display: flex;
    align-items: center;
}

.feature p {
    margin-left: 1rem;
    transition: font-size 0.2s ease;
}

.feature span {
    font-size: 1.5em;
    font-family: "Prata", Arial, Helvetica, sans-serif;
}

.main-btn {
    background-color: #fff;
    color: #222;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    transition: background-color 0.2s ease, font-size 0.2s ease;
}

.main-img {
    width: 10rem;
    position: absolute;
    border-radius: 2rem;
    transition: right 0.2s ease;
}

/* FEATURES */

.page-features {
    display: flex;
    justify-content: space-between;
}

.back-img {
    display: none;
    width: 20%;
    height: auto;
    max-height: 650px;
    object-fit: contain;
    padding-top: 0;
}

.details {
    padding-inline: 5%;
}

.details ul li {
    word-break: break-word;
    text-align: justify;
    display: flex;
    gap: 1rem;
    align-items: start;
    margin-block: 2rem;
    line-height: 1.5rem;
    max-width: 50rem;
}

.details ul li img {
    width: 2rem;
}

.details-btn {
    width: 100%;
    background-color: #fff;
    color: #222;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    transition: background-color 0.2s ease, font-size 0.2s ease;
}

/* FORM */

.form-window {
    display: flex;
    justify-content: space-between;
    margin-inline: 5%;
    background-color: #fff;
}

.start-form {
    max-width: 50rem;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    gap: 0.4rem;
    padding: 1rem;
}

.form-window h1 {
    text-align: center;
    margin-bottom: 5rem;
    font-family: "Prata", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #282829;
}


@media (pointer: coarse) {
    button:active {
        background-color: #444;
    }

    .main-btn:active, .details-btn:active {
        background-color: #bbb;
    }
}

@media (pointer: fine) {
    button:hover {
      background-color: #333;
      cursor: pointer;
    }
    .main-btn:hover, .details-btn:hover {
        background-color: #bbb;
    }
}


@media (min-width: 480px) {
    /* MAIN */

    .main-h1 {
        font-size: 4rem;
    }

    .main-h2 {
        font-size: 1.5rem;
    }

    .feature p {
        font-size: 1.5rem;
    }

    .main-btn {
        font-size: 1.5rem;
        padding: 2rem;
    }
}

@media (min-width: 768px) {
    /* HEADER */

    .page-header {
        display: flex;
    }

    .page-header-nav {
        margin-left: auto;
    }

    /* MAIN */

    .main-img {
        bottom: 10%;
        right: 5%;
        width: 15rem;
    }

    /* DETAILS */

    .details ul li {
        font-size: 1.5rem;
    }

    .back-img {
        display:block;
    }

    .details-btn {
        font-size: 1.5rem;
    }
}

@media (min-width: 920px) {
    /* MAIN */

    .main-info {
        padding-top: 8rem;
    }

    .main-img {
        width: 20rem;
    }
}

@media (min-width: 1200px) {
    /* HEADER */

    .page-header {
        padding-inline: 10%;
    }

    /* MAIN */

    .main-info {
        padding-top: 10rem;
    }

    .feature p {
        font-size: 2.5rem;
    }

    .main-img {
        width: 30rem;
    }
}

@media (min-width: 1440px) {
    /* MAIN */

    .main-img {
        width: 40rem;
    }
}